.dices
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0% auto
    // animation: rollingAnimation 0.2s ease-out

.rollingAnimation
    animation: rollingAnimation 0.23s ease-out

.rollButton
    text-align: center
    background-color: #007ace
    color: white
    font-weight: 700
    font-size: 2.8em
    padding: 15px
    border: none
    border-radius: 8px
    margin: 0 auto
    display: flex
    box-shadow: 0 9px #bbb

.rollButton:active 
    box-shadow: 0 3px #bbb
    background-color: #007aca
    transform: translateY(4px)

.initialButton 
    @extend .rollButton
    margin: 5% auto

.header
    text-align: center
    margin: 5% 1% 0 0
    font-size: 3.5em

.handName
    font-size: 2.0em
    text-align: center
    margin: 0

.round
    text-align: center
    font-size: 2.3em
    font-weight: 700
    margin: 1%

.handStats
    display: flex
    flex-wrap: wrap
    color: white
    font-weight: 700
    text-align: center
    margin: 0 auto
    padding: 15px
    justify-content: center
    flex-direction: column
    

.player
    @extend .handStats
    background-color: #22aa44
.enemy 
    @extend .handStats
    background-color: #cd1111

@keyframes rollingAnimation 
    0% 
        transform: translate(15%, 1%)
    25% 
        transform: translate(-5%, -1%)
    50% 
        transform: translate(5%, 1%)
    75% 
        transform: translate(-3%, -1%)
    85% 
        transform: translate(3%, 1%)
    100% 
        transform: translate(0%, 0%)
